.h2, h2 {
    font-size: 18px;
    font-weight: 800;
}

.bg-black {
    background-color: #000;
}
.header {
    z-index: 1;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
}
.header__title {
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 25px 0;
    color: #fff;
    
}
#catalogElement .heading {
color: #E7E8EA;
}
@keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
#header {
 margin-top: 0;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.header__subtitle {
    font-size: 26px;
    margin: 25px 0;
}
.header__desc {
    font-size: 17px;
    margin: 25px 0;
}
.cover-img {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text-yellow{
    z-index: 1;
    font-size: 2rem;
    text-transform: uppercase;
    color: #d95e00;
    font-weight: 800;
}
.style__gradient-text {
    animation-name: style__anim___218uC;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    background: linear-gradient(
90deg,#d95e00 30%,#ffa353,#d95e00 70%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 600;
}
.style__description-text {
    padding: .7rem;
    margin-bottom: 0;
    color: #ffffffa6;
    font-weight: 600;
}

.dropping-texts {
    display: inline-block;
  }
  
  .dropping-texts > div {
    font-size:0px;
    opacity:0; 
    box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
  }
  
  .dropping-texts > div:nth-child(1) {
    animation: roll2 5s linear infinite 4s;
  }

  
  @keyframes roll2 {
    0% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity:1;
      transform: rotate(0deg);
    }
    5% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
    }
    30% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
      transform: rotate(0deg);
    }
    37% {
      font-size:150px;
      opacity:0;
      margin-left:-1000px;
      margin-top:-800px;
    }
    100% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(15deg);
    }
  }

/* sm applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}

/* md applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {}

/* lg applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/* xl applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/* xxl applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {}
